#map-canvas { 
     	height: 75%;
          width: 50%;
          margin: 2%;
          padding: 0;
          float: left;
     }

     #location-form{
     	height: 50%; 
     	width: 50%; 
     	margin: 2%; 
     	padding: 0;
     	float: left;
     }

     .welcome{
          margin-left: 1%;
          width: 50%;
          float: left;
     }

     .current-conditions{
          float: left;
          display: block;
          margin-top: 2%;
          margin-left: 5%;
          font-size: 20px;
     }

     #location, #condition, #temp{
          color: #14EA14;
     }

     .strava-logo{
          display: block;
          width: 2%;
          clear: both;
          float:left;
     }

     .wu-logo{
          display: block;
          width: 2%;
          clear: both;
          float:left;
     }

     h3{
     	margin-left: 2% !important;
     }