#map-canvas { 
     	height: 60%; 
     	width: 95%; 
     	margin: 2%; 
     	padding: 0;
     	float: left;
     }

     #location-form{
     	height: 50%; 
     	width: 50%; 
     	margin: 2%; 
     	padding: 0;
     	float: left;
     }

     h3{
     	margin-left: 2% !important;
     }