     #map-canvas { 
     	height: 70%;
          width: 50%;
          margin: 2%;
          padding: 0;
          float: left;
     }

     #location-form{
     	height: 50%; 
     	width: 50%; 
     	margin: 2%; 
     	padding: 0;
     	float: left;
     }

     .welcome{
          margin-left: 1%;
          width: 50%;
          float: left;
     }

     .current-conditions{
          float: left;
          display: block;
          margin-top: 2%;
          margin-left: 5%;
          font-size: 20px;
     }

     #location, #condition, #temp{
          color: #14EA14;
     }

     .footer{
          background-color: #333;
          color: white;
          font-size: 175%;
          text-align: center;
          line-height: 3em;
          clear: both;
          position: relative;
          z-index: 10;
          height: 3em;
          margin-top: -3em;
     }


     h3{
     	margin-left: 2% !important;
     }

     @media (max-width: 600px) {
          #map-canvas {
               width: 100%;
          }

          .welcome{
               width:100%;
          }
}